@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body {
font-family: "Calibri";
}

.frame-hide{
  display: block;
  position: relative;
  margin-left: 50vw;
  height: 0vh;
   width: 0vw;
   background: black;
   color: black;
   border: none;
}


.frame-show{
  -webkit-transition: all 0.2s ease;  
  -moz-transition: all 0.2s ease;  
  -o-transition: all 0.2s ease;  
  -ms-transition: all 0.2s ease;  
  transition: all 0.2s ease;
  display: block;
  position: fixed;
  margin-left: 25vw;
  bottom: 8%;
  z-index: 2;
  height: 85vh;
  width: 50vw;
  border: solid 3px black;
}

.date{
display: inline-block;
}

#left-date{
margin-left: 15vw;
display: inline-block;
width: 15vw;
font-family: "Acme" , Calibri, Arial, sans-serif;
vertical-align: bottom;
font-size: 18px;
}

#right-date{
margin-left: 10vw;
width: 20vw;
font-family: "Acme" , Calibri, Arial, sans-serif;
display: inline-block;
vertical-align: bottom;
font-size: 18px;
}



.container > header {
    width: 90%;
    max-width: 1240px;
    position: relative;
    margin: auto;
    padding: 0px 30px 50px;
    text-align: center;
    font-family: "Acme" , Calibri, Arial, sans-serif;
}

.container > header h1 span {
    display: block;
    font-size: 20px;
    font-weight: 300;
    font-family: Calibri, Arial, sans-serif;
}

container > header h1 {
    font-size: 34px;
    line-height: 38px;
    font-weight: 700;
    font-family: "Acme" , Calibri, Arial, sans-serif;
    margin: 0px auto;
}

#progress {
    width: 25%;
    margin-left: 6.5vw;
    display: inline-block;
}

#progress span {
    display: block;
    text-align: center;
    align-self: center;
    font-size: 1.2rem;
    margin: auto auto 5px;
    font-family: "Acme" , Calibri, Arial, sans-serif;
}

#filled {
    height: 99%;
    border-radius: 3px;
}

#bar {
    width: 99%;
    height: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: grey;
    border-image: initial;
    background: white;
    border-radius: 5px;
}


footer {
    padding-bottom: 5px;
    margin-bottom: 0.5rem;
    display: block;
    text-align: center;
    font-family: "Acme", Calibri, Arial, sans-serif;
    font-size: 1.2rem;
    margin-top: 2rem
}

.view {
    display: block;
    width: 50%;
    height: 2.2rem;
    margin-left: 25%;
    bottom: 5%;
    font-family: Lato, Calibri, Arial, sans-serif;
    font-weight: 700;
    position: absolute;
    border-color: black;
    border-width: 2.7px;
    border-style: ridge;
}


.done-divs {
position: relative;
width: 230px;}

.done-divs.true.block:after {
background: gold;
}

.done-divs.true.block:after:hover {
background: yellow;
}

.undone-divs {
position: relative;
top: -2px;
left: -2px;
width: 226px;
}

.done-divs h3{
font-weight: 400;
margin-top: 10px;
font-family: 'Acme', Calibri, Arial, sans-serif;
}

.done-divs span{
margin-top: 20px;
display: inline-block;
margin-left: 10px;
margin-right: 10px;

}


.og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
        margin-top: 40px;
}

.og-grid li {
	display: inline-block;
	margin: 40px 20px 0px 20px;
	vertical-align: top;
	height: 230px;
        
    border: 2px solid #333333;
    border-radius: 2% 6% 5% 15% / 1% 1% 2% 15%;
    position: relative;

    
    }



.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
        text-decoration: underline black;
        width: fit-content;
        margin: auto;
}

@media screen and (max-width: 1300px){


.frame-show{
  -webkit-transition: all 0.2s ease;  
  -moz-transition: all 0.2s ease;  
  -o-transition: all 0.2s ease;  
  -ms-transition: all 0.2s ease;  
  transition: all 0.2s ease;
  display: block;
  position: fixed;
  margin-left: 15vw;
  bottom: 8%;
  z-index: 2;
  height: 80vh;
  width: 70vw;
  border: solid 3px black;
}
}

@media screen and (max-width: 700px){

.frame-show{
  -webkit-transition: all 0.2s ease;  
  -moz-transition: all 0.2s ease;  
  -o-transition: all 0.2s ease;  
  -ms-transition: all 0.2s ease;  
  transition: all 0.2s ease;
  position: fixed;
  margin-left: 5vw;
  bottom: 10%;
  z-index: 2;
  height: 80vh;
  width: 90vw;
  border: solid 3px black;
}


#progress {
    width: 50%;
    margin-left: 25%;
}


#left-date{
display: block;
width: 50%;
font-family: "Acme" , Calibri, Arial, sans-serif;
font-size: 18px;
text-align: center;
margin-bottom: 25px;
margin-left: 25%;
}

#right-date{
font-family: "Acme" , Calibri, Arial, sans-serif;
display: block;
font-size: 18px;
width: 50%;
margin-left: 25%;
margin-top: 25px;
text-align: center;
}

}